<div class="footer p-3 text-black">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="container text-left">
          <p class="email" id="test1">Info@ystemandchess.com</p>
          <p class="number">+1 208.996.5071</p>
          <div class="social-icons ml-auto">
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
          <p class="lead">Copyright &copy; 2023 YSTEMAndChess. PR. All rights reserved.</p>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="container d-flex flex-column align-items-center">
          <div class="col-12 d-grid mt-3 mt-md-0">
            <h5 class="sponsor-title text-decoration-underline">
              Sponsors
            </h5>
            <div class="image-container">
              <img src="assets\images\Ventive.png" alt="Ventive" class="ventive-img">
              <br>
              <img src="assets\images\Kount.png" alt="Kount" class="kount-img">
              <br>
              <img src="assets\images\Idaho-Central.png" alt="Idaho-Central" class="idaho-central-img">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="container d-flex flex-column align-items-center">
          <div class="col-12 d-grid mt-3 mt-md-0">
            <h5 class="partner-title text-decoration-underline">
              Partners
            </h5>
            <div class="image-container">
              <div class="row">
              <div class="col">
              <img src="assets\images\BoiseRescueMission.png" alt="BRM" class="brm-img">
              <img src="assets\images\BoysAndGirlsClub.png" alt="boysandgirlsclub" class="boysandgirlsclub-img">
              <img src="assets\images\Possible.png" alt="everythingpossible" class="everythingpossible-img">
              </div>
              <div class="col">
                <img src="assets\images\BoiseDistrictSchools.png" alt="BDS" class="bds-img">
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>