<!--Board Member image and description-->
<div class="container">
    <div class="one-container">
        <img src="assets/images/Jasmine_Redlich.png" alt="Board Member" class="board_member">
        <h1>Jasmine Redlich, Board Member</h1>
        <p>Board Member Mother of June, Stanley and Shirley.</p>
        <p>All of whom are students.</p> 
    </div>
    <div class="two-container">
        <p>
            “Oh my gosh, the Y STEM and Chess Inc. (YSC) program has been such an amazing opportunity for June. June is now a State Champion in Chess. She is now testing in the top 1% of her grade.”
        </p>
    </div>
</div>