<div class="container-fluid">
    <div class="custom-container">
        <img src="assets/images/Nicole_and_Anthony.png" alt="image1" class="image-one">
        <p class="custom-text">Nicole and Anthony attending a chess tournament.</p>
        <p class="custom-two-text">Interested in making a difference?</p>
        <p class="custom-three-text">Y STEM and Chess Inc. (YSC) is focused on resolving two current social problems, by providing a unique 21st Century methodology to learning called “Mastery”. The first focus is on our society’s unfulfilled need for students with a firm learning foundation to pursue a life in the world of STEM. The second and the primary focus of YSC is fulfilling those needs by working with the children of our socially and economically underserved population, to introduce and engage them in the world of STEM.</p>
    </div>

    <app-knight/>

    <div class="custom-two-container">
        <div class="containerA">
            <img src="assets/images/Nicole.png" alt="Nicole" class="nicole">
            <p>Nicole participating in a chess tournament.</p>
        </div>
        <div class="containerB">
            <h1>Sponsorship will cover</h1>
            <ul>
                <li>In depth program from k-12</li>
                <li>Tutoring in Chess strategy</li>
                <li>Math education at different skill levels</li>
                <li>Introduction to core computer language concepts</li>
                <li>One on one mentoring</li>
                <li>Personal skills development</li>
                <li>Preparation for Advanced Learning and Career Paths</li>
            </ul>
        </div>
    </div>

    <app-pawn></app-pawn>

    <div class="button-container">
        <button class="btn">
            <img src="assets/images/become_a_sponsor.png" alt="sponsor" class="become_a_sponsor">
        </button>
        <button class="btn">
            <img src="assets/images/donate.png" alt="sponsor" class="donate">
        </button>
    </div>

    <div class="custom-three-container">
        <p>The sponsorship program is the best way to help students receive 
            personal guidance and role-development, in a safe environment, 
            through background-checked mentors.</p>
    </div>

    <app-testimonial></app-testimonial>

    <app-board-member></app-board-member>
</div>

